<h1>GitInfo</h1>
Url: @ThisAssembly.Git.RepositoryUrl<br />
Branch: @ThisAssembly.Git.Branch<br />
CommitDate: @ThisAssembly.Git.CommitDate<br />
Commit: @ThisAssembly.Git.Commit<br />
Commits: @ThisAssembly.Git.Commits<br />
Tag: @ThisAssembly.Git.Tag<br />
BaseTag: @ThisAssembly.Git.BaseTag<br />
BaseVersion.Major: @ThisAssembly.Git.BaseVersion.Major<br />
BaseVersion.Minor: @ThisAssembly.Git.BaseVersion.Minor<br />
BaseVersion.Patch: @ThisAssembly.Git.BaseVersion.Patch<br />
SemVer.Major: @ThisAssembly.Git.SemVer.Major<br />
SemVer.Minor: @ThisAssembly.Git.SemVer.Minor<br />
SemVer.Patch: @ThisAssembly.Git.SemVer.Patch<br />
SemVer.Label: @ThisAssembly.Git.SemVer.Label<br />
SemVer.DashLabel: @ThisAssembly.Git.SemVer.DashLabel<br />
SemVer.Source: @ThisAssembly.Git.SemVer.Source<br />
IsDirty: @ThisAssembly.Git.IsDirty
  <hr />

@code {

}
