@page "/CountDown"
@using LocalEdit2.ErrorHandling;
@using LocalEdit2.Modals;

<PageTitle>@title</PageTitle>

    <Layout>
        <LayoutHeader Fixed>
            <span style="background-color:lightskyblue">
            <h1 style="background-color:lightskyblue">@currentTime</h1>
        </span>
    </LayoutHeader>
        <LayoutContent>

<LocalEdit2.Shared.BigText @ref="bigTextRef" />
<br />
<h1>@currentTime</h1>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@Configure">
    <Icon Name="IconName.Play" />
    Configure
</Button>
    </LayoutContent>
</Layout>


<LocalEdit2.Shared.BlazorTimer @ref="timerRef" Ticked="@OnTimerTicked" Interval="1000"></LocalEdit2.Shared.BlazorTimer>

<LocalEdit2.Modals.CountDownModal @ref="countDownModalRef" Closed="@OnCountDownModalClosed"></LocalEdit2.Modals.CountDownModal>
