@page "/FlowEditor"
@using Blazorise.Components
@using Blazorise.DataGrid
@using LocalEdit2.C4Types
@using Blazorise
@using Blazorise.Extensions;
@using LocalEdit2.FlowTypes

    @*<Div Style="float: left;height: 470px;width: 50%;padding: 0 10px;">*@
@*<Div Style="float: left;height: 470px;padding: 0 10px;">*@
<Div Style="padding: 10px;">

<h1>Flow Editor</h1> 
<hr/>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@NewQuestionFlow">
    <Icon Name="IconName.Star" />
    New QuestionFlow
</Button>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@LoadFile">
    <Icon Name="IconName.FileUpload" />
    Load
</Button>

<Button Size="Size.Small" Color="Color.Primary" Clicked="@LoadFromGitHub">
    <Icon Name="IconName.FileUpload" />
    Load from GitHub
</Button>

@*
<Button Size="Size.Small" Color="Color.Primary" Clicked="@LoadLpeFile">
    <Icon Name="IconName.FileUpload" />
    Load LPE
</Button>
*@
<Button Size="Size.Small" Color="Color.Primary" Clicked="@SaveFile">
    <Icon Name="IconName.FileDownload" />
    Save
</Button>

    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ExportFile">
        <Icon Name="IconName.ArrowRight" />
        Export Markdown Snippet
    </Button>
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ExportHtml">
        <Icon Name="IconName.ArrowRight" />
        Export HTML
    </Button>


<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="general">General</Tab>
        <Tab Name="model">Model</Tab>
        <Tab Name="preview">Preview (Flow Diagram)</Tab>
        <Tab Name="preview2">Preview (Sequence Diagram)</Tab>
    </Items>
    <Content>
        <TabPanel Name="general"  Border="Border.Primary">

<Div Style="margin:20px">

            <Validations @ref="validations" Mode="ValidationMode.Manual" ValidateOnLoad=false>
                <Field>
                    <Check TValue="bool" @bind-Checked="@Document.hasHeader">Has Header</Check>
                </Field>
                <Field>
                    <Check TValue="bool" @bind-Checked="@Document.hasFooter">Has Footer</Check>
                </Field>

                <Field>
                <FieldLabel>Phone Number</FieldLabel>
                <Validation Validator="ValidationRule.IsNotEmpty">
                    <TextEdit @bind-Text="Document.headerConfig.phoneNumber" Placeholder="Enter phone number">
                        <Feedback>
                            <ValidationError>Please enter the label.</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
            <Field>
                <FieldLabel>Url</FieldLabel>
                <Validation Validator="ValidationRule.IsNotEmpty">
                    <TextEdit @bind-Text="Document.headerConfig.logo" Placeholder="Enter logo">
                        <Feedback>
                            <ValidationError>Please enter the label.</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
            </Validations>
            </Div>
        </TabPanel>

        <TabPanel Name="model"  Border="Border.Primary">
<Button Size="Size.Small" Color="Color.Primary" Clicked="@AddNewItem">
    <Icon Name="IconName.Add" />
    New
</Button>
@if (SelectedItemRow == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}
@if (SelectedItemRow != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ShowItemModal">
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}

@if (SelectedItemRow == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}
@if (SelectedItemRow != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@DeleteItem">
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}

            @if (!downAllowed)
            {
                <Button Size="Size.Small" Color="Color.Primary" Disabled>
                    <Icon Name="IconName.ArrowDown" />
                    Move Down
                </Button>
            }
            @if (downAllowed)
            {
                <Button Size="Size.Small" Color="Color.Primary" Clicked="@ItemDown">
                    <Icon Name="IconName.ArrowDown" />
                    Move Down
                </Button>
            }

            @if (!upAllowed)
            {
                <Button Size="Size.Small" Color="Color.Primary" Disabled>
                    <Icon Name="IconName.ArrowUp" />
                    Move Up
                </Button>
            }
            @if (upAllowed)
            {
                <Button Size="Size.Small" Color="Color.Primary" Clicked="@ItemUp">
                    <Icon Name="IconName.ArrowUp" />
                    Move Up
                </Button>
            }

<DataGrid TItem="FlowItem"
          Data="@Document?.items"
          @bind-SelectedRow="@SelectedItemRow"
                          RowDoubleClicked="@ShowItemModal"
                          ShowPager=false
                          PageSize="50"
                    FixedHeader FixedHeaderDataGridHeight="300px">
                <DataGridColumn Field="@nameof( FlowItem.title )" Editable="false"></DataGridColumn>
</DataGrid>

</TabPanel>
@*        <TabPanel Name="relations"  Border="Border.Primary">
<Button Size="Size.Small" Color="Color.Primary" Clicked="@AddNewRelationship">
    <Icon Name="IconName.Add" />
    New
</Button>
@if (selectedRelationshipRow == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}
@if (selectedRelationshipRow != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@ShowRelationshipModal">
        <Icon Name="IconName.Edit" />
        Edit
    </Button>
}

@if (selectedRelationshipRow == null)
{
    <Button Size="Size.Small" Color="Color.Primary" Disabled>
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}
@if (selectedRelationshipRow != null)
{
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@DeleteRelationship">
    <Icon Name="IconName.Delete" />
    Delete
</Button>
}




            <DataGrid TItem="FlowRelationship"
          Data="@Document.Relationships"
          @bind-SelectedRow="@selectedRelationshipRow"
          Responsive>
          <DataGridColumns>
    <DataGridColumn Field="@nameof( FlowRelationship.From )" Editable="false">
        <DisplayTemplate>
            @{
                string fromCode = ( context as FlowRelationship )?.From;
                string toCode = ( context as FlowRelationship )?.To;

                    if (fromCode != null)
                    {
                        @($"{fromCode}") <NBSP/> <Icon Name="IconName.ArrowRight"/> <NBSP/> @($"{toCode}")
                        <br />
                        <span style="padding-left:2em">@($"{context.Label}")</span>
                    }
                //if ( date != null )
                //{
                //    @($"{date.Value.ToShortDateString()} | Age: {( DateTime.Now.Year - date.Value.Year )}")
                //}
            }
        </DisplayTemplate>
    </DataGridColumn>
    </DataGridColumns>
    <EmptyTemplate>
        <div class="box">
            No relations were found!
        </div>
    </EmptyTemplate>
</DataGrid>
</TabPanel>*@
        <TabPanel Name="preview"  Border="Border.Primary">
@*<button class="btn btn-primary" @onclick="GenerateMarkdown">Generate</button>*@

@*
<div>
    <textarea @bind="MarkdownText" @bind:event="oninput" style="width:100%;"/>
</div>
*@

@*<StardustDL.RazorComponents.Markdown.MarkdownRenderer
    @ref="markdownRef"
    Value="@MarkdownText"
    Class="your class"
    Style="your styles"
    />
*@
       <Mermaid GraphText="@diagramOneText"></Mermaid>
</TabPanel>
            <TabPanel Name="preview2" Border="Border.Primary">
                <Mermaid GraphText="@diagramTwoText"></Mermaid>
            </TabPanel>
        </Content>
</Tabs>
</Div>
@*
            <Div Style="float: left;height: 470px;width: 50%;padding: 0 10px; ">

            <Mermaid Id="output1" @ref="MermaidOne"></Mermaid>
</Div>
*@

<LocalEdit2.Modals.FlowItemModal @ref="FlowItemModalRef" Items="@Document?.items" Closed="@OnFlowItemModalClosed" Item="@SelectedItemRow"></LocalEdit2.Modals.FlowItemModal>


<LocalEdit2.Modals.FileManagementModal  @ref="FileManagementModalRef" Closed="@OnFileManagementModalClosed"></LocalEdit2.Modals.FileManagementModal>
<LocalEdit2.Modals.GitManagementModal @ref="GitManagementModalRef" Closed="@OnGitManagementModalClosed"></LocalEdit2.Modals.GitManagementModal>