@using Blazorise.Components
@using LocalEdit2.C4Types

@inherits LE_ModalBase
<Modal @ref="modalRef" @bind-Visible="@modalVisible" Closing="@OnModalClosing" Opened="@OnModalOpened">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Edit Item</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
@*
<Alert @ref="myAlert" Color="Color.Success">
    <AlertMessage>
        Alert test.
    </AlertMessage>
    <CloseButton />
</Alert>
*@

@*https://blazorise.com/docs/components/validation*@
@*<Validations Mode="ValidationMode.Manual">*@
<Validations @ref="validations" Mode="ValidationMode.Manual" ValidateOnLoad=false>
    <Blazorise.ValidationSummary Label="Following error occurs..." />

        <Field>
            <FieldLabel>Item Type</FieldLabel>
            <SelectList TItem="C4TypeNamePair"
            TValue="C4TypeEnum"
            Data="@c4Types"
            TextField="@((item)=>item.Description)"
            ValueField="@((item)=>item.Value)"
            @bind-SelectedValue="@SelectedNode.ItemType"
            DefaultItemText="Choose node type" />

                </Field>



    @if (@showA)
    {
        <Field>
            <FieldLabel>Text</FieldLabel>
            <TextEdit @bind-Text="SelectedNode.Text" />
        </Field>
    }

    <Field>
        <FieldLabel>Alias</FieldLabel>
        <TextEdit @bind-Text="SelectedNode.Alias" />
        @*            <ValidationMessage For="@(() => item.Alias)" />
        *@
    </Field>

    <Field>
        <FieldLabel>Description</FieldLabel>
        <TextEdit @bind-Text="SelectedNode.Description" />
    </Field>

    <Field>
        <FieldLabel>Technology</FieldLabel>
        <TextEdit @bind-Text="SelectedNode.Technology" />
    </Field>

    <Field>
        <Switch TValue="bool" @bind-Checked="@SelectedNode.IsDatabase">Database</Switch>
    </Field>

    <Field>
        <Switch TValue="bool" @bind-Checked="@SelectedNode.IsExternal">External</Switch>
    </Field>

</Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@CloseModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@TryCloseModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
