@inherits LE_ModalBase
<Modal @ref="modalRef" @bind-Visible="@modalVisible" Closing="@OnModalClosing" Opened="@OnModalOpened">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Question Flow Link Logic Edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if (Item == null)
            {
                <h1>No item selected to edit</h1>
            }

            @if (Item != null)
            {
                @*https://blazorise.com/docs/components/validation*@
            @*<Validations Mode="ValidationMode.Manual">*@
            <Validations @ref="validations" Mode="ValidationMode.Manual" ValidateOnLoad=false>
                <Blazorise.ValidationSummary Label="The following errors were found..." />
                @*    <Field>
                    <FieldLabel>Name with validation</FieldLabel>
                    <Validation Validator="ValidationRule.IsNotEmpty">
                    <Blazorise.TextEdit Placeholder="Enter name (validated)">
                    <Feedback>
                    <ValidationNone>Please enter the name.</ValidationNone>
                    <ValidationSuccess>Name is good.</ValidationSuccess>
                    <ValidationError>Enter valid name!</ValidationError>
                    </Feedback>
                    </Blazorise.TextEdit>
                    </Validation>
                    </Field>
                *@

@*                <Field>
                    <FieldLabel>Label</FieldLabel>
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <TextEdit @bind-Text="Item.Label" Placeholder="Enter condition">
                            <Feedback>
                                <ValidationError>Please enter the condition.</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </Field>
*@
                <Field>
                    <FieldLabel>To</FieldLabel>
                    @*<TextEdit @bind-Text="item.To" Placeholder="Enter destination" />*@

                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <Select @bind-SelectedValue="@Item.jumpToItemId">
                        <SelectItem Value="@string.Empty" Disabled>- Select an Item -</SelectItem>
                        @foreach (var item in Items)
                        {
@*                            <SelectItem Value="@(item.Label)">@(item.Label)</SelectItem>*@
                                <SelectItem Value="@(item.id)">@(item.title)</SelectItem>
                            }
                    </Select>
                    </Validation>
                </Field>


            </Validations>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@CloseModal">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@TryCloseModal">Save</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
