@inherits LE_ModalBase
<Modal @ref="modalRef" @bind-Visible="@modalVisible" Closing="@OnModalClosing" Opened="@OnModalOpened">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Sequence Relationship Edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @*https://blazorise.com/docs/components/validation*@
            @*<Validations Mode="ValidationMode.Manual">*@
            <Validations @ref="validations" Mode="ValidationMode.Manual" ValidateOnLoad=false>
                <Blazorise.ValidationSummary Label="The following errors were found..." />
                @*    <Field>
                    <FieldLabel>Name with validation</FieldLabel>
                    <Validation Validator="ValidationRule.IsNotEmpty">
                    <Blazorise.TextEdit Placeholder="Enter name (validated)">
                    <Feedback>
                    <ValidationNone>Please enter the name.</ValidationNone>
                    <ValidationSuccess>Name is good.</ValidationSuccess>
                    <ValidationError>Enter valid name!</ValidationError>
                    </Feedback>
                    </Blazorise.TextEdit>
                    </Validation>
                    </Field>
                *@
                <Field>
                    <FieldLabel>From</FieldLabel>
@*                    <TextEdit @bind-Text="item.From" Placeholder="Enter source" />
*@
                    <Select @bind-SelectedValue="@Item.From">
                        @foreach (var item in Items)
                        {
                            <SelectItem Value="@(item.Label)">@(item.Label)</SelectItem>
                        }

@*    <SelectItem Value="1">One</SelectItem>
    <SelectItem Value="2">Two</SelectItem>
    <SelectItem Value="3">Three</SelectItem>
    <SelectItem Value="4">Four</SelectItem>
*@
                    </Select>
                </Field>

                <Field>
                    <FieldLabel>To</FieldLabel>
                    @*<TextEdit @bind-Text="item.To" Placeholder="Enter destination" />*@

                    <Select @bind-SelectedValue="@Item.To">
                        @foreach (var item in Items)
                        {
                            <SelectItem Value="@(item.Label)">@(item.Label)</SelectItem>
                        }
                    </Select>
                </Field>

                <Field>
                    <FieldLabel>Label</FieldLabel>
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <TextEdit @bind-Text="Item.Label" Placeholder="Enter label">
                            <Feedback>
                                <ValidationError>Please enter the label.</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Validation>
                </Field>

            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@CloseModal">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@TryCloseModal">Save</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
